h1 {
    text-align: center;
}

body {
    line-height: 1;
    background: #f4f4f4;
    background-color: #f4f4f4;
    color: #666666;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: 200;
    line-height: 1.25;
}

footer {
    font-size: 14px;
    padding-top: 10px;
    margin-top: 25px;
    bottom: 0;
    position: relative;
}

#userIntro {
    text-align: center;
}

#userInfo {
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

#nodes {
    position: relative;
    width: 1500px;
    height: 750px;
    margin: auto;
}

#network {
    width: 1500px;
    height: 750px;
    border: black 1px solid;
}

img {
    height: 165px;
}

#outerBorder {
    position: relative;
    top: 312px;
    width: 1000px;
    height: 50px;
    margin: auto;
    background: linear-gradient(
      to bottom,
      rgba(252, 252, 252, 1) 0%,
      rgba(237, 237, 237, 1) 100%
    );
    border-radius: 72px;
    border: 2px solid rgba(30, 30, 0, 0.2);
}

#loadingBar {
    position: absolute;
    top: 0;
    left: 250px;
}
  
#border {
    position: absolute;
    top: 10px;
    left: 25px;
    width: 940px;
    height: 25px;
    margin: auto;
    border-radius: 10px;
    border: 2px solid rgba(30, 30, 30, 0.1);
}
  
#bar {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: auto;
    border-radius: 11px;
    border: 2px solid rgba(30, 30, 30, 0.05);
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.4);
}

#left {
    width: 50%;
    float: left;
}

#right {
    margin-left: 50%;
    border-left: 1px solid black;
}

#right div {
    background-color: #ff7575;
    color: black;
}

#intro-wrapper {
    width: 80%;
    margin: auto;
    text-align: center;
    border-radius: 4px;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

#intro-wrapper button {
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor:x
}

#intro-wrapper button:hover {
    background-color: #f9f9f9;
}

#input {
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

input {
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    padding: 4px;
    margin: 2px;
}

#input > button {
    padding: 4px;
}

#input p {
    font-size: 12px;
}